$color-heading-additional: #499a18;
$color-primary: #e06733;
$color-text-light: #717171;
$color-heading: #000000;
$color-text: #636060;
$color-section-background: #edf2ec;
$color-navigation: #010201;
$color-border: #e3e1d5;
$color-light: #ffffff;
$color-accordion-button: #d9d9d9;
$color-contact: #d6e7d2;
$color-accordion-active: #c1e698;
$color-arrow-active: #8ba07e;
$color-accordion-btn-background: #aea1a1;

$header-width: 1220px;
$content-width: 1222px;
$tablet-width: 768px;
$mobile-width: 380px;
