@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.header-right {
  display: flex;
  justify-content: space-between;
}

.player {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  max-width: 500px;
  transition: all 0.4s;
  opacity: 1;
}

.player_hidden {
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}

.player-head {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.player-controls {
  display: flex;
  align-items: center;

  width: 35%;
  max-width: 164px;
}
.playing-song-container {
  display: flex;
  align-items: center;
  width: 65%;
  height: 1em;
}
.song-container {
  width: 100%;
  display: flex;
  white-space: nowrap;
  margin-left: 15px;
  height: 100%;
  font-weight: 700;
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
}

.playing-song-animated {
  animation: text 30s linear infinite;
}
@keyframes text {
  0% {
    transform: translate(10%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.timeline {
  background: white;
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
  margin: 0 0 15px 0;
}
.progress {
  background: rgb(80, 153, 255);
  width: 0%;
  height: 100%;
  transition: 0.25s;
}
.player-time {
  width: 20%;
  display: flex;
}
.player-time > * {
  padding: 2px;
}

.volume-container {
  display: flex;
  justify-content: end;
  align-items: center;

  width: 80%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.volume-button {
  order: 2;
  justify-content: end;
  height: 26px;
  display: flex;
  align-items: center;
}
.volume {
  transform: scale(0.7);
  width: 50px;
  height: 50px;
  opacity: 0.8;
}
.volume-active {
  background-image: url("../assets/svg/volume-icon.svg");
  background-size: contain;
}
.volume:hover {
  opacity: 1;
}
.volume-muted {
  background-image: url("../assets/svg/volume-muted.svg");
  background-size: contain;
}

.volume-percentage {
  transition: 0.25s;
}
.volume-percentage_hidden {
  display: none;
}
.volume-percentage_visible {
  display: inline-block;
}

.play-list {
  text-align: left;
  margin: 20px 0 0 0;
  /*z-index: 100;*/
}

.play-item {
  display: flex;
  align-items: center;
  padding: 5px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}
.played {
  opacity: 1;
  text-decoration: underline;
}

.play-item:hover,
.play-item:hover .button-item {
  opacity: 1;
}

.play-item .button-item {
  padding-right: 30px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.button-item_play {
  background-image: url("../assets/svg/play-small.svg");
  background-size: contain;
}
.button-item_pause {
  background-image: url("../assets/svg/pause-small.svg");
  background-size: contain;
}
.player-icon {
  margin: 0 10px;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
  background-size: contain;
}

.pause {
  background-image: url("../assets/svg/pause.svg");
  background-size: contain;
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
  background-size: contain;
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
  background-size: contain;
}

.weather {
  transition: all 0.4s;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather_hidden {
  transition: all 0.4s;
  opacity: 0;
}
.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
  background-size: contain;
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
  background-size: contain;
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
  transition: all 0.3s;
  opacity: 1;
}
.time_hidden {
  transition: all 0.3s;
  opacity: 0;
  min-height: 0;
  font-size: 0;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: all 0.3s;
  opacity: 1;
}

.date_hidden {
  transition: all 0.3s;
  opacity: 0;
  min-height: 0;
  font-size: 0;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: all 0.3s;
  opacity: 1;
}
.greeting_hidden {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.greeting {
  width: 100%;

  text-align: center;
}

.name {
  font-size: 40px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.9;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.settings {
  position: absolute;
  left: 30px;
  bottom: 30px;
  opacity: 0.9;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/svg/settings.svg");
  background-size: contain;
  transition: all 0.5s;
}
.settings:hover {
  opacity: 1;
  cursor: pointer;
}
.settings.mooving {
  transform: rotate(68deg);
}
.settings-modal {
  display: flex;
}

.settings-modal_visible {
  position: absolute;
  left: 60px;
  bottom: 80px;
  background-color: #fff;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  transition: all 0.5s ease-in;
  z-index: 200;
}
.settings-modal_hidden {
  position: absolute;
  transition: all 0.5s ease-in;
  left: -400px;
  bottom: 100px;
  opacity: 0;
}
.settings-list {
  padding: 15px 0;
  width: 35%;
  height: 100%;
  border-right: solid 1px lightslategray;
}
.settings-item {
  margin: 10px 0 10px 15px;
  list-style-type: none;
  color: rgb(126, 121, 121);
  text-align: left;
}

.settings-item_active {
  color: black;
  font-weight: bold;
}

.settings-item:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(69, 65, 65);
}

.settings-property {
  width: 65%;
  padding: 15px;
}

.lang-el,
.source-element,
.tag-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  text-align: start;
  margin: 10px 0 15px 10px;
}

.lang-el input,
.source-element input,
.tag-element input {
  margin: 0 20px 0 0;
}
.settings-property div:nth-of-type(4) {
  margin: 40px 0 15px 10px;
}
.general-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  text-align: start;
  padding: 0 0 8px 0;
  margin: 10px 0 15px 10px;
  border-bottom: 1px solid gray;
}
.general-toggle {
  display: flex;
  width: 30px;
  height: 15px;
  border-radius: 20px;
  border: 1px solid rgb(105, 102, 102);
}
.general-toggle:hover {
  cursor: pointer;
  border: 1px solid black;
}
.general-toggle_active {
  background-color: rgb(80, 153, 255);
}
.general-toggle_unactive {
  justify-content: flex-end;
  background-color: rgb(217, 220, 225);
}
.general-toggle-cirсle {
  width: 13px;
  height: 13px;
  margin: 0 0.5px;
  border-radius: 50%;
  background-color: rgb(19, 76, 221);
  border: 1px solid rgb(105, 102, 102);
}

.change-quote {
  margin: 30px 0 20px 0;
  background-image: url("../assets/svg/reload.svg");
  background-size: contain;
  transition: all 0.3s;
}

.quote-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  transition: all 0.3s;
}
.quote_hidden {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.quote {
  width: 100%;
  min-height: 32px;
  transition: all 0.3s;
}

.author {
  min-height: 20px;
  transition: all 0.3s;
}

.todo {
  font-size: 1.5rem;
  position: absolute;
  right: 30px;
  bottom: 30px;
  opacity: 0.8;
  color: white;
  transition: all 0.3s;
}

.todo:hover {
  cursor: pointer;
  opacity: 1;
}
.todo_hidden {
  transition: all 0.3s;
  opacity: 0;
}
.todo-container .todo_hidden {
  right: 500px;
  transition: all 0.3s;
}
.todo_active {
  opacity: 1;
}

.todo-container {
  transition: all 0.3s;
  width: 320px;
  height: auto;
  min-height: 205px;
  position: absolute;
  right: 30px;
  bottom: 60px;
  border-radius: 5px;
  background-color: #fff;
  color: rgb(33, 33, 33);
}
.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 18px 5px 20px;
}
.list-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-name {
  font-size: 20px;
  color: rgb(33, 33, 33);
}
.list-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  padding: 0 0 3.5px 6px;
}
.list-button-container:hover {
  border-radius: 50%;
  background-color: rgb(231, 222, 222);
  cursor: pointer;
}
.listArrowContainer_active {
  border-radius: 50%;
  background-color: rgb(231, 222, 222);
}

.list-arrow {
  transform: rotate(45deg);
  border-bottom: 1.5px solid rgb(33, 33, 33);
  border-right: 1.5px solid rgb(33, 33, 33);
  border-left: 1.5px solid transparent;
  border-top: 1.5px solid transparent;
  width: 8px;
  height: 8px;
  opacity: 1;
}

.list-settings-button {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  padding: 3px 2px 0;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1rem;
}
.list-settings-button:hover {
  background-color: rgb(231, 222, 222);
  cursor: pointer;
}

.modal-todo-names {
  position: absolute;
  z-index: 200;
  left: 20px;
  top: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 25%);
  width: 240px;
  height: auto;
  background-color: rgb(237, 237, 237);
  transition: all 0.5s;
}

.modal-todo-names_hidden {
  visibility: hidden;
  opacity: 0;
  top: 30px;
  transition: all 0.2s;
}
.todo-name-title {
  display: flex;
  justify-content: flex-start;
  color: rgb(33, 33, 33);
  opacity: 0.7;
  line-height: 1.2rem;
  list-style-type: none;
  padding: 7px 16px;
}
.todo-name-title:hover {
  cursor: pointer;
  opacity: 1;
  background-color: rgb(231, 222, 222);
  border-radius: 5px;
}

.tasks-amount {
  margin-left: 5px;
}

.todo-content-container {
  padding: 21px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-height: 152px;
}

.defolt-frame-title {
  opacity: 0.8;
  margin-bottom: 6px;
}
.defolt-frame-link {
  opacity: 0.6;
  font-size: 0.9rem;
  margin-bottom: 16px;
}
.defolt-frame-link:hover {
  opacity: 1;
  cursor: pointer;
}
.defolt-frame-button {
  background-color: rgba(89, 113, 65, 0.95);
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  padding: 7px 27px 8px;
  border: none;
  margin-bottom: 30px;
}
.defolt-frame-button:hover {
  cursor: pointer;
  background-color: rgba(89, 113, 65, 0.8);
}
.defolt-frame-button_hidden {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.todo-input {
  width: 100%;
  height: 1.5rem;
  border: 1px solid transparent;
  font-size: 0.9rem;
  transition: all 0.3s;
}
.todo-input:focus-visible {
  outline-color: transparent;
}
.todo-input_hidden {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.task-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.task-item:hover {
  cursor: pointer;
}
.task-value {
  color: rgb(33, 33, 33);
  opacity: 0.7;
  margin: 0 0 0 10px;
  border: 1px solid transparent;
}
.task-value:focus-visible {
  outline-color: transparent;
}
.task-value_edited {
  font-style: italic;
  font-weight: bold;
  color: brown;
}
.task-item_active,
.task-item_active .task-value {
  background-color: rgb(231, 222, 222);
  opacity: 0.7;
}
.task-value_checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-settings {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("../assets/svg/todo-settings.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.task-settings_hidden {
  opacity: 0;
  transition: all 0.3s;
  visibility: hidden;
}

.task-settings:hover {
  background-color: rgba(231, 222, 222, 0.7);
  cursor: pointer;
}

.task-settings-modal {
  z-index: 200;
  max-width: 130px;
  position: absolute;
  display: flex;
  right: 45px;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(231, 222, 222);
  transition: all 0.3s;
  box-shadow: 0 2px 10px 0 #0008;
}
.task-settings-modal .edit {
  border-bottom: 1px solid rgba(33, 33, 33, 0.7);
}
.task-settings-modal .delete {
  border-top: 1px solid rgba(33, 33, 33, 0.7);
}
.task-settings-item {
  text-align: left;
  width: 100%;
  font-size: 0.8rem;
  padding: 10px;
  color: rgb(33, 33, 33);
  opacity: 0.7;
}

.task-settings-item:hover {
  cursor: pointer;
  opacity: 1;
}
.task-settings-modal_hidden {
  opacity: 0;
  transition: all 0.3s;
  visibility: hidden;
}
.task-settings-arrow {
  background-image: url("../assets/svg/back-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  margin: 10px;
}

.todo-footer {
  padding: 0 21px 10px 21px;
  display: flex;
  align-items: center;
}
.footer-raw {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.git {
  display: block;
  background-image: url(../assets/svg/git.svg);
  width: 38px;
  height: 38px;
  background-size: cover;
}
.year {
  font-weight: bold;
  margin: 0 30px;
  font-size: 1.3rem;
}
.rss-link {
  display: block;
  background-image: url(../assets/svg/rs_school.svg);
  width: 100px;
  height: 38px;
  background-size: cover;
}

@media (max-width: 1550px) {
  .header {
    height: auto;
  }
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }
  .player-controls {
    justify-content: space-between;
  }
  .player-icon {
    margin: 0 3px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
@media (max-width: 675px) {
  body {
    font-size: 14px;
  }
  .main {
    padding: 0 20px 20px 20px;
  }
  .header {
    padding: 20px 20px 0 20px;
  }
  .player-head {
    margin-bottom: 10px;
  }
}
