@import url("https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@300;400;700&display=swap");

html {
   font-size: 10px;
   scroll-behavior: smooth;
}

body {
   font-family: "Inter", sans-serif;
}

h1 {
   margin: 0;
   color: $color-text-light;
   @include font(4.5rem, 5rem, 700);
   span {
      font-weight: 700;
      color: $color-heading-additional;
   }
   @include media-tablet {
      @include font(3.5rem, 5rem, 700);
   }
   @include media-mobile {
      @include font(2.5rem, 3.5rem, 700);
   }
}

h2 {
   margin: 0;
   @extend %font-add;
   color: $color-primary;
   @include font(4rem, 5.2rem, 400);
   span {
      color: $color-heading-additional;
   }
   @include media-tablet {
      @include font($size: 3.5rem, $height: 4.6rem, $weight: 400);
   }
   @include media-mobile {
      @include font($size: 2.5rem, $height: 3.3rem);
   }
}

h3 {
   margin: 0;
   color: $color-primary;
   @include font(2rem, 2rem, 700);
}
