.about{
   padding: 93px 0 94px 0;
}
.about__plant{
   background-image: url(../../images/about/houseplant.png);
   max-width: 464px;
   height: 479px;
}

.about__title{
   padding: 68px 0 38px 0;
}

.about__text{
   margin: 0;
   @include font($size:2rem, $height: 3rem);
   color: $color-text;
}