.navigation {
   display: flex;
   margin: 0;
   padding: 0;
   @include media-tablet {
      flex-wrap: wrap;
   }
}

.navigation__link {
   list-style: none;
   a {
      @extend %font-add;
      @include font($size: 1.6rem, $height: 5rem);
      color: $color-navigation;
      @extend %transition;
      @include media-mobile {
         @include font($size: 1.8rem, $height: 3rem);
         color: $color-text-light;
      }
   }
   &:hover a {
      @include font(1.6rem, 5rem, 700);
      color: $color-primary;
      @include media-mobile {
         @include font($size: 1.8rem, $height: 3rem);
      }
   }
   @include media-mobile {
      position: relative;
   }
}

.navigation__link:nth-of-type(3) {
   padding: 0 0 0 47.5px;
   @include media-mobile {
      padding: 0;
   }
}

.navigation__link:nth-of-type(2),
.navigation__link:nth-of-type(4) {
   padding: 0 0 0 46.5px;
   @include media-mobile {
      padding: 0;
   }
}

.navigation__link:last-of-type {
   padding: 0 0 0 47px;
   @include media-mobile {
      padding: 0;
   }
}

.navigation__link:first-child {
   @include media-mobile {
      padding-top: 20px;
   }
}
.navigation__link:first-child::before {
   @include media-mobile {
      position: absolute;
      top: 10px;
      left: -40px;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-accordion-button;
      box-shadow: 0 -3px 3px $color-accordion-button;
   }
}

.header__navigation {
   @include media-mobile {
      //display: none;
      position: fixed;
      top: 80px;
      left: -150%;
      width: 100%;
      padding: 0 40px 10px;
      background-color: $color-section-background;
      box-shadow: 0 3px 0 $color-accordion-button;
      transition: left 0.4s ease 0s;
   }
}

.header__navigation._active {
   @include media-mobile {
      left: 0;
      transition: left 0.4s ease 0s;
   }
}

.header__navigation .navigation {
   @include media-mobile {
      display: flex;
      flex-direction: column;
      transition: left 0.3s ease 0s;
   }
}
