.header {
   background-color: $color-section-background;
   padding: 42px 0;
   @include media-tablet {
      padding: 35px 0 32px 0;
   }

   @include media-mobile {
      padding: 34px 0 36px 0;
   }
}

.header__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   a {
      text-decoration: none;
   }
   @include media-mobile {
      //position: relative;
      max-width: 50%;
      margin-left: 0;
   }
}
